@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor0: #ffa149;
    --cor1: #F97D0C;
    --cor2: #DB500B;
    --cor3: #F12F01;
    --cor4: #DB130B;
    --cor5: #F90C64;
    
    --sobra0: #731500;

    --fonte-titulo: 'montserrat', arial, helvetica, sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0D1117;
    color: white;
}

p {
    color: white;
}

header {
    height: 300px;
    width: 100%;
    text-align: center;
    color: white;
    background-image: url('../imagens/wallpaper004.jpg'), linear-gradient(to bottom, #161B22, transparent);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    /* background-color: #161B22; */
}

header > nav {
    margin: auto;
    padding: 10px;
}

header > nav span::after {
    content: ' \1F4CD';
}

header > nav > a {
    color: black;
    text-decoration: none;
    transition-duration: 1s;
    border-radius: 10px;
    padding: 2em;
}

header > nav > a:hover {
    background-color: #166295;
}

header > h1 {
    color: black;
    margin: auto;
    padding: 2em;
}

header h1::after {
    content: ' \271D ';
}

header h1::before {
    content: ' \271D\000a0 ';
}

header > p {
    color: black;
    margin: auto;
}

main {
    min-width: 300px;
    max-width: 1200px;
    margin: auto;
    padding: 15px;
}

main h2 {
/*     background-image: linear-gradient(to right, var(--cor4), transparent); */
    color: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-family: var(--fonte-titulo);
    text-transform: uppercase;
}

main h2:nth-child(7) {
    margin-top: 50px;
}

main p {
    text-indent: 5px;
    text-align: center;
    margin-bottom: 10px;
}

main img {
    width: 30%;
    margin-left: 5px;
    margin-right: 2px;
    border-radius: 10px;
}

.links {
    color: #166295;
    text-decoration: none;
    transition-duration: .8s;
}

.links:hover {
    color: white;
    text-decoration: underline;
}

main .programações {
    width: 30%;
}

main address {
    text-align: center;
}

main iframe {
    width: 100%;
}

.we {
    width: 98%;
}

footer {
    height: 50px;
    text-align: center;
}

@media screen and (max-width: 456px) {
    header {
        height: 200px;
    }
    header > h1 {
        padding: 1em;
    }
}

@media screen and (max-width: 646px){
    header > nav > a {
        padding: 5px;
    }
}

@media  screen and (max-width: 737px) {
    main img {
        width: 30%;
        margin: none;
        border-radius: 10px;
    }
}